<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <form method="POST" style="width: 70%">
        <div class="heading"></div>
        <br>
        <h1>Register</h1>
        <br>

        <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 3%;">
            <div class="form-left">
                <label>Full Name as per IC</label>
                <input type="text" name="username" value="{{ name_text }}" required><br>
                
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <div class="form-left" style="width: 48%;">
                        <label>Staff ID</label>
                        <input type="number" name="userid" value="{{ id_text }}" required>
                    </div>   
                    <div class="form-left" style="width: 48%;">
                        <label>Card UID (Optional)</label>
                        <input type="text" name="cardid" value="{{ card_text }}">
                    </div>
                </div>
                
                <label>Email Address</label>
                <input type="email" name="email" value="{{ email_text }}" required>
            </div>

            <div class="form-middle">
                <label>Contact Number</label>
                <input type="tel" name="contact" value="{{ contact_text }}" required><br> 

                <label id="roleLabel">Role of Department</label>
                <select name="role" required>
                    <option value="" disabled selected>Select Role</option>
                    <option value="ADMIN">Admin</option>
                    <option value="DEAN">Dean</option>
                    <option value="HOP">Head Of Program</option>
                    <option value="HOS">Head Of School</option>
                    <option value="LECTURER">Lecturer</option>
                    <option value="PO">Program Officers</option>
                </select><br>

                <label id="departmentLabel">Department</label>
                <select name="department" required>
                    <option value="" disabled selected>Select Department</option>
                    {% for dept in department_data %}
                        <option value="{{ dept.departmentCode }}">
                            ({{ dept.departmentCode }}) {{ dept.departmentName }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-right"> 
                <label>Gender</label>
                <select name="gender" required>
                    <option value="" disabled selected>Select Gender</option>
                    <option value="0">FEMALE</option>
                    <option value="1">MALE</option>
                </select><br>

                <div class="password-container">
                    <label>Password</label>
                    <input type="password" name="password1" value="{{ password1_text }}" required>
                    <button type="button" class="toggle-password-btn">
                        <i class="fas fa-eye"></i>
                    </button>
                </div><br>

                <div class="password-container">
                    <label> Confirm Password</label>
                    <input type="password" name="password2" value="{{ password2_text }}" required>
                    <button type="button" class="toggle-password-btn">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>

                <!-- Javascript control the password toggle -->
                <script src="{{ url_for('static', filename='js/function.js') }}"></script>
            </div>
        </div>

        <!-- Show any message of doesn't match the require of input --> 
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <strong>{{ category.capitalize() }}:</strong> {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Button frame with standard-->
        <div class="button-frame">
            <button type="submit" name="register">Register</button>
            <br><br>
            <a href="{{ url_for('login') }}">Back to Login</a>
        </div>
    </form>
</body>
</html>