<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dean ForgotPassword</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/frontPart.css') }}">
</head>

<body>
    <form method="POST">
        <div class="heading"></div>
        <br>
        <h1>Forgot Password</h1>
        <h4><span class="span">Please input your email address to proceed with resetting your password.</span></h4>
        <br>
        <!-- Main container allocate in centre -->
        <div class="form-container">
            <!-- Frame for Email Address container to send Email -->
            <div class="input-container">
                <label class="text-position">Email Address</label>
                <input type="email" name="email" value="{{ dean_forgot_email_text }}">
            </div>
            <br>

            <!-- Show any message of doesn't match the require of input -->
            {% if error_message and request.method == 'POST' %}
            <div class="alert">
                <strong>Error:</strong> {{ error_message }}
            </div>
            {% endif %}

            <!-- Button frame with standard-->
            <div class="button-frame">
                <button type="submit" name="forgot">Reset Password</button>
                <br><br>
                <a href="{{ url_for('dean_login') }}">Back</a>
            </div>
        </div>
    </form>
</body>
</html>