body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 100px;
    background-image: url("../static_pic/INTI_PIC.png");
    background-size: contain;
    background-repeat: no-repeat;
}

form {
    text-align: center;
    width: 30vh;
    padding: 50px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

input[type="text"],
input[type="password"], 
input[type="email"], 
input[type="tel"] {
    width: 25vh;
    padding: 10px;
    margin: 5% 0;
}

button {
    width: 25vh;
    padding: 8px 16px;
    margin-top: 25px;
}

.otp-frame {
    display: flex;
    justify-content: center;  /* centers items horizontally */
    gap: 15px; /*Spacing between each box*/
}

.button-frame {
    text-align: center;
    margin-top: 10px;
}

.otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}