.heading {
    background-image: url("../static_pic/INTI_LOGO.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 50px top 30px;
    /*background-position: left top;*/
    height: 100px;
    width: 100%;
}

/* Body handles background and centering */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("../static_pic/INTI_PIC.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Frame form*/

form {
    margin-top: 200px;
    margin-left: 70px;
    text-align: center;
    width: 30vh;
    padding: 50px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Input section*/
input[type="text"],
input[type="password"], 
input[type="email"], 
input[type="tel"] {
    width: 25vh;
    padding: 10px;
    margin: 5% 0;
}

/* Button format*/
button {
    width: 25vh;
    padding: 8px 16px;
    margin-top: 25px;
}

/* For every click button frame*/
.button-frame {
    text-align: center;
    margin-top: 10px;
}

.span {
    font-weight: normal;
}










/* Will be deleted*/
/* For OTP*/
.otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* For OTP */
.otp-frame {
    display: flex;
    justify-content: center;  /* centers items horizontally */
    gap: 15px; /*Spacing between each box*/
}

