{% extends "user/userBase.html" %}
{% set body_class = 'user-homepage' %}
{% block title %}Homepage{% endblock %}

{% block content %}
<h1 style="margin-left: 2%;">Hey! 👋 <i>{{ user_name }}</i></h1>

{% macro slot_row(slot, columns=[], show_actions=False, action_type="") %}
    {% set session_obj = slot.session %}
    {% if session_obj %}
        {% set start = session_obj.startDateTime %}
        {% set end = session_obj.endDateTime %}
        {% set duration = (end - start).total_seconds() %}
        {% set position = slot.position if slot.position else '' %}
        {% set course_list = [] %}
        {% for venue_exam in session_obj.exams %}
            {% set course = venue_exam.exam.course %}
            {% if course %}
                {% set _ = course_list.append(course.courseCodeSectionIntake ~ " - " ~ course.courseName) %}
            {% endif %}
        {% endfor %}

        {# --- Determine row class --- #}
        {% set row_class = "" %}
        {% if position.lower() == "backup" or 'backup' in position.lower() %}
            {% set row_class = "background-backup" %} 
    {% endif %}

    <tr class="{{ row_class }}">
        {% for col in columns %}
            {% if col == 'timeAction' %}
                <td>{{ slot.timeAction }}</td>
            {% elif col == 'reason' %}
                <td><strong>{{ slot.rejectReason }}</strong></td>
            {% elif col == 'position' %}
                <td>
                    {% if action_type == 'waiting' %}
                        <select name="new_position" class="roleDropdown" form="form-{{ slot.sessionId }}" required>
                            <option value="" disabled selected>-- Select Role --</option>
                            {% for pos in get_available_positions(slot.session, exclude_slot_id=slot.sessionId) %}
                                <option value="{{ pos }}">{{ pos }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        {{ position }}
                    {% endif %}
                </td>
            {% elif col == 'venue' %}
                <td>{{ session_obj.venue.venueNumber if session_obj.venue else '' }}</td>
            {% elif col == 'examDate' %}
                <td>{{ start.strftime("%d/%b/%Y") }}</td>
            {% elif col == 'examTime' %}
                <td>{{ start.strftime("%H:%M") }} - {{ end.strftime("%H:%M") }}</td>
            {% elif col == 'examPeriod' %}
                <td>{{ (duration // 3600)|int }}h {{ ((duration % 3600) // 60)|int }}m</td>
            {% elif col == 'courseCode' %}
                <td>{{ course_list | join('<br>') | safe }}</td>
            {% elif col == 'action' and show_actions %}
                <td>
                    {% if action_type == 'waiting' %}
                        <!-- ACCEPT FORM -->
                        <form id="form-{{ slot.sessionId }}" method="POST" action="{{ url_for('user_homepage') }}" style="display: contents;">
                            <input type="hidden" name="w_id" value="{{ slot.sessionId }}">
                            <button type="submit" name="action" value="accept" class="acceptBtn" onclick="return confirm('Are you sure to accept this slot?')"
                                    style="background-color:#d4edda; color:#155724; padding:5%;">Accept
                            </button>
                        </form>
                        <!-- REJECT BUTTON -->
                        <button type="button" class="reject-btn" data-id="{{ slot.sessionId }}" style="background-color:#f8d7da; color:#721c24; padding:5%;">Reject</button>
                    
                        {% elif action_type == 'open' %}
                        <form method="POST" action="{{ url_for('user_homepage') }}" style="display: contents;">
                            <input type="hidden" name="open_id" value="{{ slot.sessionId }}">
                            <button type="submit" name="action" value="open_accept" onclick="return confirm('Are you sure to additional choose this slot?')"
                                    style="background-color:#d4edda; color:#155724; padding:5%;">Accept
                            </button>
                        </form>

                    {% elif action_type == 'backup' %}
                        <form method="POST" action="{{ url_for('user_homepage') }}" style="display: contents;">
                            <input type="hidden" name="b_id" value="{{ slot.sessionId }}">
                            <button type="submit" name="action" value="backup" onclick="return confirm('Are you sure to choose this backup slot?')"
                                    style="background-color:#d4edda; color:#155724; padding:5%;">Accept
                            </button>
                        </form>
                    {% endif %}
                </td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endif %}
{% endmacro %}


{% if user_role in ["DEAN", "HOS", "HOP"] %}
<div class="menu-grid" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1%; width: 100%;">
    <a href="{{ url_for('user_ownTimetable')}}" style="text-decoration: none;">
        <div class="menu-section">
            <h2>Own Timetable</h2>
            <ul class="submenu">
                <strong>Purpose:</strong>
                <ul>
                    <li>- View personal timetable</li>
                    <li>- Check scheduled classes and times</li>
                </ul>
            </ul>
        </div>
    </a>

    <a href="{{ url_for('user_invigilationTimetable')}}" style="text-decoration: none;">
        <div class="menu-section">
            <h2>Invigilation Timetable</h2>
            <ul class="submenu">
                <strong>Purpose:</strong>
                <ul>
                    <li>- View invigilation timetable</li>
                    <li>- Check scheduled duties by date and time</li>
                </ul>
            </ul>
        </div>
    </a>

    <a href="{{ url_for('user_invigilationReport')}}" style="text-decoration: none;">
        <div class="menu-section">
            <h2>Invigilation Report</h2>
            <ul class="submenu">
                <strong>Functionality:</strong>
                <ul>
                    <li>- View invigilation attendance records</li>
                    <li>- Check check-in and check-out times</li>
                </ul>
            </ul>
        </div>
    </a>
</div><br>

<div class="menu-grid" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1%; width: 100%;">
    <a href="{{ url_for('user_mergeTimetable')}}" style="text-decoration: none;">
        <div class="menu-section">
            <h2>Merge Timetable</h2>
            <ul class="submenu">
                <strong>Purpose:</strong>
                <ul>
                    <li>- View all merged department timetables</li>
                    <li>- Access combined schedules across lecturers and classes</li>
                </ul>
            </ul>
        </div>
    </a>

    <a href="{{ url_for('user_viewStaff') }}" style="text-decoration: none;">
        <div class="menu-section">
            <h2>Department Lecturers</h2>
            <ul class="submenu">
                <strong>Purpose:</strong>
                <ul>
                    <li>- View all department lecturers</li>
                    <li>- View lecturer details and timetable information</li>
                </ul>
            </ul>
        </div>
    </a>
</div>
{% endif %}

{% if user_role not in ["DEAN", "HOS", "HOP"] %}
<div class="dashboard-row" style="grid-template-columns: repeat(3, 1fr);">
    <div class="dashboard-frame">
        <h3>Completed Invigilation Hours</h3>
        <p class="dashboard-text" style="color:green;">{{ user_invigilationHour|hours_format }}</p>
    </div>
    <div class="dashboard-frame">
        <h3>Estimated Completed Invigilation Hours</h3>
        <p class="dashboard-text" style="color:blue;">{{ (user_invigilationHour + user_pendingInvigilationHour)|hours_format}}</p>
    </div>
    <div class="dashboard-frame">
        <h3>Pending Invigilation Hours</h3>
        <p class="dashboard-text" style="color:blueviolet;">{{ user_pendingInvigilationHour|hours_format }}</p>
    </div>
</div>

{# --- Confirmed Slots --- #}
<div style="padding: 20px;">
    <h2>Incoming Invigilation Slot</h2>
    <span>The slots below have been accepted by you.</span>
    <div class="user-table-container">
        <table class="user-data-table">
            <thead>
                <tr>
                    <th>Time Accepted</th>
                    <th>Position</th>
                    <th>Exam Venue</th>
                    <th>Exam Date</th>
                    <th>Exam Time</th>
                    <th>Exam Period</th>
                    <th>Course Code-Name</th>
                </tr>
            </thead>
            <tbody>
                {% for c in confirm %}
                    {{ slot_row(c, columns=['timeAction','position','venue','examDate','examTime','examPeriod','courseCode']) }}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div><br>

{# --- Waiting Slots --- #}
<div style="padding: 20px;">
    <h2>Confirm or Decline Invigilation Slot</h2>
    <span>The slots below are automatically generated by the system. Click <b><i>Accept</i></b> to confirm the slot or <b><i>Reject</i></b> and provide a reason to decline it.</span>
    <div class="user-table-container">
        <table class="user-data-table">
            <thead>
                <tr>
                    <th>Exam Venue</th>
                    <th>Exam Date</th>
                    <th>Exam Time</th>
                    <th>Exam Period</th>
                    <th>Course Code-Name</th>
                    <th>Position</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for w in waiting %}
                    {{ slot_row(w, columns=['venue', 'examDate', 'examTime', 'examPeriod', 'courseCode', 'position', 'action'], show_actions=True, action_type='waiting') }}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div><br>

{# --- Open Slots --- #}
<div style="padding: 20px;">
    <h2>Open Public Self-Selection Invigilation Slot</h2>
    <span>The slots below are unselected by other lecturers, have expired, and are now open for public selection. 
        Slots you previously rejected will also be displayed. First-come, first-served.
    </span>
    <div class="user-table-container">
        <table class="user-data-table">
            <thead>
                <tr>
                    <th>Exam Venue</th>
                    <th>Exam Date</th>
                    <th>Exam Time</th>
                    <th>Exam Period</th>
                    <th>Course Code-Name</th>
                    <th>Position</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for a in open %}
                    {{ slot_row(a, columns=['venue', 'examDate', 'examTime', 'examPeriod', 'courseCode', 'position', 'action'], show_actions=True, action_type='open') }}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div><br>

{# --- Backup Slots --- #}
<div style="padding: 20px;">
    <h2>Backup Self-Selection Invigilation Slot</h2>
    <span>The slots below are act as backup</span>
    <div class="user-table-container">
        <table class="user-data-table">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Exam Venue</th>
                    <th>Exam Date</th>
                    <th>Exam Time</th>
                    <th>Exam Period</th>
                    <th>Course Code-Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for b in backup %}
                    {{ slot_row(b, columns=['position', 'venue', 'examDate', 'examTime', 'examPeriod', 'courseCode', 'action'], show_actions=True, action_type='backup') }}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div><br>

{# --- Rejected Slots --- #}
<div style="padding: 20px;">
    <h2>Rejected Invigilation Slot</h2>
    <span>The slots below show all invigilation slots you have rejected, including the reason and the date/time of rejection.</span>
    <div class="user-table-container">
        <table class="user-data-table">
            <thead>
                <tr>
                    <th>Time Reject</th>
                    <th>Reason</th>
                    <th>Position</th>
                    <th>Exam Venue</th>
                    <th>Exam Date</th>
                    <th>Exam Time</th>
                    <th>Exam Period</th>
                    <th>Course Code-Name</th>
                </tr>
            </thead>
            <tbody>
                {% for r in reject %}
                    {{ slot_row(r, columns=['timeAction', 'reason', 'position', 'venue', 'examDate', 'examTime', 'examPeriod', 'courseCode']) }}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra_scripts %}
<!-- Reject Reason Modal -->
<div id="rejectModal" class="modal" style="display:none; position: fixed; z-index: 1000; left:0; top:0; width:100%; height:100%; background: rgba(0,0,0,0.5); justify-content:center; align-items:center;">
    <div style="background:white; padding:20px; width:350px; border-radius:8px; box-shadow: 0 2px 10px rgba(0,0,0,0.2);">
        <h3>Reject Slot</h3>
        <form id="rejectModalForm" method="POST" action="{{ url_for('user_homepage') }}">
            <input type="hidden" name="w_id" id="reject_wid">
            <input type="hidden" name="new_position" id="reject_position">
            <textarea name="reject_reason" placeholder="Enter rejection reason" required style="width:100%; height:100px; margin-top:10px;"></textarea>
            <div style="margin-top:15px; text-align:right;">
                <button type="button" onclick="closeRejectModal()" style="padding:5px 12px; margin-right:10px;">Cancel</button>
                <button type="submit" name="action" value="reject" style="padding:5px 12px; background:#e74c3c; color:white;">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>
function openRejectModal(id) {
    document.getElementById('reject_wid').value = id;
    document.getElementById('rejectModal').style.display = 'flex';
}

function closeRejectModal() {
    document.getElementById('rejectModal').style.display = 'none';
}

document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".reject-btn").forEach(function (button) {
        button.addEventListener("click", function () {
            const sessionId = this.dataset.id;
            // find dropdown linked to this form
            const dropdown = document.querySelector(
                'select[form="form-' + sessionId + '"]'
            );

            // MUST select role
            if (!dropdown || !dropdown.value) {
                alert("Please select a role first.");
                return;
            }
            // pass values into modal form
            document.getElementById("reject_wid").value = sessionId;
            document.getElementById("reject_position").value = dropdown.value;
            // show modal
            document.getElementById("rejectModal").style.display = "flex";
        });
    });
});

document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".roleDropdown").forEach(function (dropdown) {
        dropdown.addEventListener("change", function () {
            const formId = this.dataset.form;
            const button = document.querySelector('.acceptBtn[data-form="' + formId + '"]');
            if (this.value) {
                button.disabled = false;
            } else {
                button.disabled = true;
            }
        });
    });
});
</script>
{% endblock %}
