<!-- upload.html -->
{% extends "user/userBase.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <h1>Welcome Back</h1>
    {% if user_level == 1 %}    
    <div class="dashboard-row">
        <div class="dashboard-frame">
            <h3>Cumulative Invigilation Hour</h3>
            <p class="dashboard-text" style="color:green;">{{ user_invigilationHour }}</p>
        </div>

        <div class="dashboard-frame">
            <h3>Pending Invigilation Hour</h3>
            <p class="dashboard-text" style="color:blueviolet;">{{ user_pendingInvigilationHour }}</p>
        </div>
    </div><br>

    <form action="{{ url_for('user_homepage') }}" method="POST">
        <div class="menu-section">
            <h3>Accept or Reject for Invigilation Slot</h3>
            <div class="user-table-container">
                <table class="user-data-table">
                    <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Course Code</th>
                            <th>Exam Date</th>
                            <th>Exam Day</th>
                            <th>Exam Time</th>
                            <th>Exam Period</th>
                            <th>Accept</th>
                            <th>Reject</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in records %}
                        <tr>
                            <td>{{ record.report.exam.course.courseName }}</td>
                            <td>{{ record.report.exam.course.courseCodeSectionIntake }}</td>
                            <td>{{ record.report.exam.examStartTime.strftime("%d/%b/%Y") }} - {{ record.report.exam.examEndTime.strftime("%d/%b/%Y") }}</td>
                            <td>{{ record.report.exam.examStartTime.strftime("%A") }} - {{ record.report.exam.examEndTime.strftime("%A") }}</td>
                            <td>{{ record.report.exam.examStartTime.strftime("%H:%M") }} - {{ record.report.exam.examEndTime.strftime("%H:%M") }}</td>
                            <td>{{ (record.report.exam.examEndTime - record.report.exam.examStartTime).seconds // 3600 }}h {{ ((record.report.exam.examEndTime - record.report.exam.examStartTime).seconds % 3600) // 60 }}m</td>
                            <td>
                                <form action="{{ url_for('user_homepage') }}" method="POST">
                                    <input type="hidden" name="record_id" value="{{ record.attendanceId }}">
                                    <button type="submit" name="action" value="accept" style="background-color: #d4edda; color: #155724;">Accept</button>
                                </form>
                            </td>
                            <td>
                                <form action="{{ url_for('user_homepage') }}" method="POST">
                                    <input type="hidden" name="record_id" value="{{ record.attendanceId }}">
                                    <button type="submit" name="action" value="reject" style="background-color: #f8d7da; color: #721c24;">Reject</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><br>
    </form>
    {% endif %}



    <div class="menu-grid" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1%; width: 100%;;">
        <div class="menu-section">
            <a href="{{ url_for('user_ownTimetable')}}" style="text-decoration: none;"><h2>Own Timetable</h2></a>
            <li class="submenu">
                <strong>  Purpose:</strong>
                <ul>    
                    <li>Upload merged lecturer schedule files</li>
                    <li>Access and review combined lecturer timetables</li>
                </ul>
            </li>
        </div>

        <div class="menu-section">
            <a href="{{ url_for('user_invigilationTimetable')}}" style="text-decoration: none;"><h2>Invigilation Timetable</h2></a>
            <li class="submenu">
                <strong>  Purpose:</strong>
                <ul>    
                    <li>Upload merged lecturer schedule files</li>
                    <li>Access and review combined lecturer timetables</li>
                </ul>
            </li>
        </div>

        <div class="menu-section">
            <a href="{{ url_for('user_invigilationReport')}}" style="text-decoration: none;"><h2>Invigilation Report</h2></a>
            <li class="submenu">
                <strong>  Functionality:</strong>
                <ul>
                    <li>Upload merged lecturer schedule files</li>
                    <li>Access and review combined lecturer timetables</li>
                </ul>
            </li>
        </div>
    </div>

    <div class="menu-grid" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1%; width: 100%;;">
        {% if user_level in [2, 3, 4] %}
            <div class="menu-section">
                <a href="{{ url_for('user_mergeTimetable')}}" style="text-decoration: none;"><h2>Merge Timetable</h2></a>
                <li class="submenu">
                    <strong>  Purpose:</strong>
                    <ul>    
                        <li>Upload merged lecturer schedule files</li>
                        <li>Access and review combined lecturer timetables</li>
                    </ul>
                </li>
            </div>
        {% endif %}
    </div>  
{% endblock %}

