{% extends "user/userBase.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="menu-section">
    <h2>Profile</h2>
    <form method="post" style="border-radius: None; border: None; box-shadow: None;">
        <div class="profile-frame">
            <div class="form-left">
                <label>Full Name as per IC</label>
                <input value="{{ user.userName }}" readonly><br>
                
                <label>Staff ID</label>
                <input value="{{ user.userId }}" readonly><br>

                <label>Email Address</label>
                <input value="{{ user.userEmail }}" readonly>
            </div>

            <div class="form-middle">
                <label>Gender</label>
                <input  value="{{ user.userGender }}" readonly><br>

                <label>Role Based</label>
                <input type="text" value="{% if user_level == 1 %}LECTURER
                                            {% elif user_level == 2 %}DEAN
                                            {% elif user_level == 3 %}HOS
                                            {% elif user_level == 4 %}HOP
                                            {% else %}UNKNOWN{% endif %}" readonly><br>

                <label>Department</label>
                <input value="{{ user.userDepartment }}" readonly>
            </div>

            <div class="form-right">
                <label>Staff Card UID</label>
                <input type="text" name="cardUID" value="{{ user_cardUID or '' }}"><br>

                <label>Contact Number</label>
                <input type="tel" name="contact" value="{{ user_contact_text or '' }}"><br>

                <div class="password-container">
                    <label>Password</label> 
                    <input type="password" name="password1" value="{{ user_password1_text }}">
                    <button type="button" class="toggle-password-btn">
                        <i class="fas fa-eye"></i>
                    </button>
                </div><br>

                <div class="password-container">
                    <label> Confirm Password</label>
                    <input type="password" name="password2" value="{{ user_password2_text }}">
                    <button type="button" class="toggle-password-btn">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <br>
        
        <div class="button-wrapper">
            <button type="submit">Update</button>
        </div>
    </form>
</div>
{% endblock %}
