<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
</head>
<body class="{{ body_class | default('') }}">
    <header class="header">
        <div class="toggle-btn" onclick="toggleSidebar()" aria-label="Toggle sidebar">
            <i class="fas fa-bars"></i>
        </div>
        <div class="user-info">
            {{ user_name }} [{{ user_id }}] | {{ user_level }} of {{ user_department }} | <span id="current-datetime"></span>
        </div>
    </header>

    <div class="content-container">
        <nav class="sidebar" id="sidebar">
            <div class="tab-nav">
                <a href="{{ url_for('user_homepage') }}" class="tab-link {% if active_tab == 'user_hometab' %}active{% endif %}">
                    <i class="fas fa-house"></i>
                    <span>Home</span>
                </a>
                <a href="{{ url_for('user_ownTimetable') }}" class="tab-link {% if active_tab == 'user_ownTimetabletab' %}active{% endif %}">
                    <i class="fas fa-calendar-alt"></i>
                    <span>Timetable</span>
                </a>
                {% if user_level in ["DEAN", "HOS", "HOP"]%}
                <a href="{{ url_for('user_mergeTimetable') }}" class="tab-link {% if active_tab == 'user_mergeTimetabletab' %}active{% endif %}">
                    <i class="fas fa-calendar-check"></i>
                    <span>Merge Timetable</span>
                </a>
                {% endif %}
                {% if user_level in ["DEAN", "HOS", "HOP", "PO", "LAB_ASST"]%}
                <a href="{{ url_for('user_viewStaff') }}" class="tab-link {% if active_tab  == 'user_viewStafftab' %}active{% endif %}">
                    <i class="fas fa-user-tie"></i>
                    <span>View Staff</span>
                </a>
                {% endif %}
                <a href="{{ url_for('user_invigilationTimetable') }}" class="tab-link {% if active_tab == 'user_invigilationTimetabletab' %}active{% endif %}">
                    <i class="fas fa-user-clock"></i>
                    <span>Invigilation Timetable</span>
                </a>
                <a href="{{ url_for('user_invigilationReport') }}" class="tab-link {% if active_tab == 'user_invigilationReporttab' %}active{% endif %}">
                    <i class="fas fa-file-alt"></i>
                    <span>Invigilation Report</span>
                </a>
                <a href="{{ url_for('user_profile') }}" class="tab-link {% if active_tab == 'user_profiletab' %}active{% endif %}">
                    <i class="fas fa-id-badge"></i>
                    <span>Profile</span>
                </a>
                <a href="{{ url_for('logout') }}" class="logout-btn">
                    <i class="fas fa-right-from-bracket"></i>
                    <span>Logout</span>
                </a>
            </div>
        </nav>

        <main class="main-content">
            {% block head_title %}{% endblock %}
            <!-- Flash Message Section -->
            {% set flashes = get_flashed_messages(with_categories=true) %}
            {% if uploadResult or uploadErrors or flashes %}
                <div class="messages-container">
                    {% if uploadResult %}
                        <div class="result-message">{{ uploadResult }}</div>
                    {% elif uploadErrors %}
                        <div class="error-message">{{ uploadErrors }}</div>
                    {% elif flashes %}
                        {% for category, message in flashes %}
                            <div class="alert alert-{{ category }}">
                                <strong>{{ category.capitalize() }}:</strong> {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div><br>
            {% endif %}

            {% block content %}{% endblock %}
        </main>
    </div>

    <!-- Javascript control the navigation -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='js/function.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.8.0/jspdf.plugin.autotable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>

    <script>
        function updateDateTime() {
            const now = new Date();
            const options = { weekday: 'long',day: '2-digit', month: 'short', year: 'numeric',hour: '2-digit', minute: '2-digit', second: '2-digit',hour12: false };
            const formatted = now.toLocaleString('en-GB', options).replace(',', ':');
            document.getElementById("current-datetime").textContent = formatted;
        }
        updateDateTime(); // initial run
        setInterval(updateDateTime, 1000); // update every second
    </script>
    
    {% block extra_scripts %}{% endblock %}
</body>
</html>






