body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #f5f5f5;
}

form {
    width: 130vh;
    padding: 50px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.heading {
    background: url("../pic/INTI_LOGO.png") left no-repeat;
    height: 100px;
    width: 40%;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 60%;
}

.user-details {
    font-weight: normal;
    text-align: left;
    flex-grow: 1;
}

.logout-btn {
    width: 15vh;
}