body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #f5f5f5;
}

form {
    width: 130vh;
    padding: 50px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header-container {
    display: flex;
    justify-content: space-between; /* pushes heading left and user-info right */
    width: 100%;
}

.heading {
    background: url("../pic/INTI_LOGO.png") left no-repeat;
    height: 100px;
    width: 40%;
}

.user-info {
    display: flex;
    justify-content: flex-end; /* aligns children to the right */
    align-items: center;
    gap: 30px; /* space between user-details and logout button */
    width: 60%;
}

.user-details {
    font-weight: normal;
    text-align: right; /* aligns text to right */
}

.logout-btn {
    width: 15vh;
    margin: 30px;
}