<!-- upload.html -->    
{% extends "admin/adminBase.html" %}
{% block title %}Admin ManageTimetable{% endblock %}
{% block content %}
<div class="menu-section">
    <h2>Manage Lecturer Timetable</h2>
    <form>
        <iframe 
            src="https://drive.google.com/embeddedfolderview?id=1i4MFaRbrrJhhGmtBYyC9SWSH5tF6LvvF#grid"
            style="width:100%; height:600px; border:0;">
        </iframe>

        <script>
            setInterval(() => {
                const iframe = document.getElementById("gdrive-folder");
                // Add timestamp to avoid cache
                iframe.src = "https://drive.google.com/embeddedfolderview?id=1i4MFaRbrrJhhGmtBYyC9SWSH5tF6LvvF#grid&t=" + new Date().getTime();
            }, 0 * 10 * 1000); // every 5 minutes
        </script>
    </form>
</div>


{% endblock %}
