<!-- upload.html -->
{% extends "admin/adminBase.html" %}
{% block title %}Admin Homepage{% endblock %}
{% block content %}
<div class="menu-grid">
    <div class="menu-section">
        <a href="{{ url_for('admin_manageCourse')}}" style="text-decoration: none;"><h2>Manage Course</h2></a>
        <li class="submenu">
            <strong>  Purpose:</strong>
            <ul>    
                <li>Upload merged lecturer schedule files</li>
                <li>Access and review combined lecturer timetables</li>
            </ul>
        </li>
    </div>

    <div class="menu-section">
        <a href="{{ url_for('admin_manageDepartment')}}" style="text-decoration: none;"><h2>Manage Department</h2></a>
        <li class="submenu">
            <strong>  Purpose:</strong>
            <ul>    
                <li>Upload merged lecturer schedule files</li>
                <li>Access and review combined lecturer timetables</li>
            </ul>
        </li>
    </div>

    <div class="menu-section">
        <a href="{{ url_for('admin_manageVenue')}}" style="text-decoration: none;"><h2>Manage Venue</h2></a>
        <li class="submenu">
            <strong>  Purpose:</strong>
            <ul>    
                <li>Upload merged lecturer schedule files</li>
                <li>Access and review combined lecturer timetables</li>
            </ul>
        </li>
    </div>
</div><br>

<div class="menu-grid">
    <div class="menu-section">
        <a href="{{ url_for('admin_manageExam')}}" style="text-decoration: none;"><h2>Manage Exam</h2></a>
        <li class="submenu">
            <strong>  Account Controls: </strong>
            <ul>
                <li>Upload merged lecturer schedule files</li>
                <li>Access and review combined lecturer timetables</li>
            </ul>
        </li>
    </div>

    <div class="menu-section">
        <a href="{{ url_for('admin_manageStaff')}}" style="text-decoration: none;"><h2>Manage Staff</h2></a>
        <li class="submenu">
            <strong>  Functionality:</strong>
            <ul>
                <li>Upload merged lecturer schedule files</li>
                <li>Access and review combined lecturer timetables</li>
            </ul>
        </li>
    </div>

    <div class="menu-section">
        <a href="{{ url_for('admin_manageTimetable')}}" style="text-decoration: none;"><h2>Manage Timetable</h2></a>
        <li class="submenu">
            <strong>  Purpose:</strong>
            <ul>    
                <li>Upload merged lecturer schedule files</li>
                <li>Access and review combined lecturer timetables</li>
            </ul>
        </li>
    </div>
</div><br>

<div class="menu-grid">
    <div class="menu-section">
        <a href="{{ url_for('admin_manageInvigilationTimetable')}}" style="text-decoration: none;"><h2>Manage Invigilation Timetable</h2></a>
        <li class="submenu">
            <strong>  Functionality:</strong>
            <ul>
                <li>Automatically assign examiners based on availability</li>
                <li>Review and manage generated exam timetables</li>
            </ul>
        </li>
    </div>

    <div class="menu-section">
        <a href="{{ url_for('admin_manageInvigilationReport')}}" style="text-decoration: none;"><h2>Manage Inviglation Report</h2></a>
        <li class="submenu">
            <strong>  Purpose:</strong>
            <ul>    
                <li>Upload merged lecturer schedule files</li>
                <li>Access and review combined lecturer timetables</li>
            </ul>
        </li>
    </div>

    <div class="menu-section">
        <a href="{{ url_for('admin_Profile')}}" style="text-decoration: none;"><h2>Profile</h2></a>
        <li class="submenu">
            <strong>  Purpose:</strong>
            <ul>    
                <li>Upload merged lecturer schedule files</li>
                <li>Access and review combined lecturer timetables</li>
            </ul>
        </li>
    </div>
</div>
{% endblock %}







