{% extends "admin/adminBase.html" %}
{% set show_tabs = true %}
{% set access = true %}
{% set show_manual = true %}
{% set show_second_edit = true %}
{% set show_edit = true %}
{% set show_upload = false %}
{% set show_cal = false %}
{% set show_dashboard = false %}
{% block title %}ManageAccess{% endblock %}
{% block head_title %}<h2>Manage Access</h2>{% endblock %}


{% block manual_section %}
<!-- Manual Form -->
<form id="manualForm" action="{{ url_for('admin_manageAccess') }}" method="POST" enctype="multipart/form-data">
    <div id="manualSection" class="function-frame">
        <h4 style="text-align: center;">Manual Data Entry Section</h4>
        <div class="profile-frame">
            <div class="form-profile">
                <label>Role Code</label>
                <input type="text" name="roleCode" required>
            </div>
            <div class="form-profile">
                <label>Role Name</label>
                <input type="text" name="roleName" required>
            </div>
        </div>
        <input type="hidden" name="form_type" value="manual">
        <br><br>

        <div class="button-wrapper">
            <button type="submit">Add A New Role</button>
        </div>
    </div>
</form>
{% endblock %}

{% block edit_second_section %}
<!-- Edit Form -->
<form id="editSecondForm" action="{{ url_for('admin_manageAccess') }}" method="POST" enctype="multipart/form-data">
    <div id="editSecondSection" class="function-frame">
        <h4 style="text-align: center;">Edit Existing Role</h4>
        <div class="profile-frame">
            <div class="form-profile">
                <label>Select Role</label>
                <select id="editRole" name="editRole" required>
                    <option value="" disabled selected>-- Select Role --</option>
                    {% for role in role_data %}
                        <option value="{{ role.roleCode }}"
                                {% if role_select and role.roleCode == role_select.roleCode %}selected{% endif %}>
                            [{{ role.roleCode }}] - {{ role.roleName }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-profile">
                <label>Role Name</label>
                <input type="text" name="roleName" value="{{ role_select.roleName if role_select else '' }}" required>
            </div>
        </div>
        <input type="hidden" name="form_type" value="edit">
        <br><br>

        <div class="button-wrapper" style="gap: 5%;">
            <button type="submit" name="action" value="update" style="background-color: #d4edda; color: #155724;">
                <i class="fas fa-check"></i> Update Role
            </button>
            <button type="submit" name="action" value="delete" style="background-color: #f8d7da; color: #721c24;"
                    onclick="return confirm('Are you sure to delete this role?')">
                <i class="fas fa-trash"></i> Delete Role
            </button>
        </div>
    </div>
</form>
{% endblock %}

{% block edit_section %}
<!-- Edit Form -->
<form id="editForm" action="{{ url_for('admin_manageAccess') }}" method="POST" enctype="multipart/form-data">
    <div id="editSection" class="function-frame">
        <h4 style="text-align: center;">Edit Existing Role Access</h4>
        <div class="profile-frame">
            <div class="form-profile">
                <label>Select Role</label>
                <select id="editRoleDropdown" name="editRole" required>
                    <option value="" disabled selected>-- Select Role --</option>
                    {% for role in role_data %}
                        <option value="{{ role.roleCode }}"
                                {% if role_select and role.roleCode == role_select.roleCode %}selected{% endif %}>
                            [{{ role.roleCode }}] - {{ role.roleName }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-profile">
                <label>Select Staff</label>
                <select id="editStaffDropdown" name="editStaff" required>
                    <option value="" disabled selected>-- Select Staff --</option>
                    {% for staff in staff_data %}
                        <option value="{{ staff.userAccess }}"
                                {% if staff_select and staff.userId == staff_select.userId %}selected{% endif %}>
                            [{{ staff.userId }}] - {{ staff.userName }}
                        </option>
                    {% endfor %}
                </select><br>
            </div>
        </div>
                
        <div class="profile-frame">
            <div class="form-profile">
                <input type="text" name="homepage" value="{{ homepage }}" placeholder="Homepage" readonly><br>
                <input type="text" name="course" value="{{ course }}" placeholder="Course" readonly><br>
                <input type="text" name="department" value="{{ department }}" placeholder="Department" readonly><br>
                <input type="text" name="venue" value="{{ venue }}" placeholder="Venue" readonly><br>
                <input type="text" name="exam" value="{{ exam }}" placeholder="Exam" readonly><br>
                <input type="text" name="staff" value="{{ staff }}" placeholder="Staff" readonly>
            </div>
            <div class="form-profile"></div>

            <div class="form-profile">
                <input type="text" name="timetable" value="{{ timetable }}" placeholder="Timetable" readonly><br>
                <input type="text" name="invigilationTimetable" value="{{ invigilationTimetable }}" placeholder="Invigilation Timetable" readonly><br>
                <input type="text" name="invigilationReport" value="{{ invigilationReport }}" placeholder="Invigilation Report" readonly><br>
                <input type="text" name="access" value="{{ access }}" placeholder="Access" readonly><br>
                <input type="text" name="activity" value="{{ activity }}" placeholder="Activity" readonly><br>
                <input type="text" name="profile" value="{{ profile }}" placeholder="Profile" readonly>
            </div>
            <div class="form-profile"></div>
        </div>
        <input type="hidden" name="form_type" value="edit">
        <br><br>

        <div class="button-wrapper" style="gap: 5%;">
            <button type="submit" name="action" value="update" style="background-color: #d4edda; color: #155724;">
                <i class="fas fa-check"></i> Update Access
            </button>
        </div>
    </div>
</form>
{% endblock %}


{% block content %}
<div class="menu-section">
    <h2>List of Role</h2>
    <form method="post" style="border-radius: None; border: None; box-shadow: None;">
        <div style="position: relative;">
            <input type="text" id="searchInput" name="search_data" placeholder="Search..." value="{{ search_data }}" style="border-radius: 6px; width: 100%;">
            <i class="fa fa-search" id="searchBtn" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
        </div>
        <div class="user-table-container">
            <table class="user-data-table" id="access">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Role Code</th>
                        <th>Role Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in role_data %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ row.roleCode }}</td>
                        <td>{{ row.roleName }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>
{% endblock %}


{% block extra_scripts %}
<script>
document.addEventListener("DOMContentLoaded", () => {
    const roleSelect    = document.getElementById("editRole");
    const roleNameInput = document.querySelector("#editSecondForm input[name='roleName']");

    async function fetchRoleData(roleCode) {
        if (!roleCode) return;

        try {
            const resp = await fetch(`/get_role/${encodeURIComponent(roleCode)}`);
            const role = await resp.json();

            if (role.error) {
                alert(role.error);
                return;
            }

            // Fill department name
            roleNameInput.value = role.roleName || "";

        } catch (err) {
            console.error("Error fetching role:", err);
        }
    }

    if (roleSelect) {
        roleSelect.addEventListener("change", () => {
            fetchRoleData(roleSelect.value);
        });

        // Auto-fill on page load if already selected
        if (roleSelect.value) {
            fetchRoleData(roleSelect.value);
        }
    }
});
</script>
{% endblock %}