<!-- upload.html -->
{% extends "admin/adminBase.html" %}
{% block title %}Admin ManageInvigilationReport{% endblock %}
{% block content %}

<!-- Row 1 First Fesatures to upload merge schedule files--> 
<div class="menu-section">
    <h2>Manage Invigilation Report</h2>
    <div class="profile-frame"></div>

    <br><br>
    <h3>List of Lecturer Invigilation Report</h2>
    <div class="user-table-container">
        <table class="user-data-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Invigilator Name</th>
                    <th>Department</th>
                    <th>Exam CourseCodeSection</th>
                    <th>Exam Start - EndTime</th>
                    <th>Time CheckIn</th>
                    <th>Time CheckOut</th>
                    <th>Status</th>
                    <th>Contact</th>
                </tr>
            </thead>
            <tbody>
                {% for row in invigilationReport_data %}
                    {% for att in row.attendances %}
                    <tr>
                        <td>{{ loop.index }}</td> <!-- this will reset for each nested loop -->
                        <td>{{ att.invigilator.userName }}</td>
                        <td>{{ att.invigilator.userDepartment }}</td>
                        <td>{{ row.exam.examCourseCodeSection }}</td>
                        <td>{{ row.examStartTime }} - {{ row.examEndTime }}</td>
                        <td>{{ att.checkIn }}</td>
                        <td>{{ att.checkOut }}</td>
                        <td>{{ att.remark }}</td>
                        <td>{{ att.invigilator.userContact }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

{% endblock %}

<!--

-->