{% extends "admin/adminBase.html" %}
{% block title %}Admin ManageInvigilationTimetable{% endblock %}
{% block content %}

<div class="menu-section">
    <h2>Manage Invigilation Timetable</h2>    
    <form method="POST">  
        <h3>Insert Ratio For Each Department to Generate Invigilation Timetable</h3>
        <label>Check this part, whether each admin able to select for all or just under self</label><br>
        <lable>Try to display out all the ratio based on the department on that page instead of empty frame</lable><br>
        <label>Now able to update the ratio, but without the main function to read the lecturers flexibility</label>
    </form>

    <br><br>
    <h2>List of All Exam Sessions Details</h2>
    <div class="user-table-container">
        <table class="user-data-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Exam Date</th>
                    <th>Exam Day</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Program Code</th>
                    <th>Course/Section</th>
                    <th>Lecturer</th>
                    <th>No. of Students</th>
                    <th>Room</th>
                    <th>Chief Inviglator</th>  
                    <th>Invigilator 1</th>
                    <th>Invigilator 2</th>
                    <th>Backup Invigilator</th>
                </tr>
            </thead>
            <tbody>
                {% for row in exam_data %}
                <tr>
                    <td>{{ loop.index }}</td> <!-- Display index starting from 1 -->
                    <!-- <td>{{ row.examID  }}</td> -->
                    <td>{{ row.examDate }}</td>
                    <td>{{ row.examDay }}</td>
                    <td>{{ row.examStartTime }}</td>
                    <td>{{ row.examEndTime }}</td>
                    <td>{{ row.examProgramCode }}</td>
                    <td>{{ row.examCourseCodeSection }}</td>
                    <td>{{ row.examLecturer }}</td>
                    <td>{{ row.examTotalStudent }}</td>
                    <td>{{ row.examVenue }}</td>
                    <td>{{ row.examLecturer }}</td>
                    <td>{{ row.examLecturer }}</td>
                    <td>{{ row.examLecturer }}</td>
                    <td>{{ row.examLecturer }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
