{% extends "admin/adminBase.html" %}
{% block title %}Admin Profile{% endblock %}
{% block content %}
<div class="menu-section">
    <h2>Profile</h2>
    <form method="post" style="border-radius: None; border: None; box-shadow: None;">
        <div class="profile-frame">
            <div class="form-profile">
                <label>Full Name as per IC</label>
                <input value="{{ admin_data.userName }}" readonly><br>
                
                <label>Staff ID</label>
                <input value="{{ admin_data.userId }}" readonly><br>

                <label>Email Address</label>
                <input value="{{ admin_data.userEmail }}" readonly>
            </div>

            <div class="form-profile">
                <label>Gender</label>
                <input value="{{ 'Male' if admin_data.userGender else 'Female' }}" readonly><br>

                <label>Role Based</label>
                <input value="ADMIN" readonly><br>

                <label>Department</label>
                <input value="{{ admin_data.userDepartment }}" readonly>
            </div>

            <div class="form-profile">
                <label>Staff Card UID (Card ID)</label>
                <input type="text" name="cardUID" value="{{ admin_cardUID or '' }}"><br>

                <label>Contact Number</label>
                <input type="tel" name="contact" value="{{ admin_contact_text or '' }}"><br>

                <div class="password-container">
                    <label>Password</label> 
                    <input type="password" name="password1" value="{{ admin_password1_text }}">
                    <button type="button" class="toggle-password-btn">
                        <i class="fas fa-eye"></i>
                    </button>
                </div><br>

                <div class="password-container">
                    <label> Confirm Password</label>
                    <input type="password" name="password2" value="{{ admin_password2_text }}">
                    <button type="button" class="toggle-password-btn">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>

        <br><br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <strong>{{ category.capitalize() }}:</strong> {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>
        
        <div class="button-wrapper">
                <button type="submit">Update</button>
        </div>
    </form>
</div>
{% endblock %}
