<!DOCTYPE html>
<html>
<head>
    <title>ForgotPassword_OTP_page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static_css/main_page.css') }}">
</head>

<body>
    <form method="POST">
        <h1>Forgot Password</h1>
        <h5>Entering your email address and contact number as a verification to reset your password</h5>
        <br><br>
        <input type="email" name="textbox" placeholder="Email Address" size="12" value="{{ forgot_email_text }}">
        <br>
        <input type="number" name="textbox" placeholder="Contact Number" value="{{ forgot_phone_text }}">
        <br>

        <div style="text-align: center; margin-top: 10px;">
            <a href="{{ url_for('reset_password_page') }}">
                <button type="button" name="login">Verify</button>
            </a>
        </div>

        <div style="text-align: center; margin: 10px 0;">
            <a href="{{ url_for('login') }}">Back</a>
        </div>

    </form>
</body>
</html>
