<!DOCTYPE html>
<html>
<head>
    <title>ForgotPassword_page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static_css/main_page.css') }}">
</head>

<body>
    <div class="heading"></div>

    <form method="POST">
        <h1>Forgot Password</h1>
        <h4><span class=".span">Entering your email address to get the reset passowrd link</span></h4>
        <h6>Remain: check either one of them enough and others use full name to check or user</h6>
        <input type="email" name="textbox" placeholder="Email Address" size="12" value="{{ forgot_email_text }}">
        <br>

        <div class="button-frame">
            <a href="{{ url_for('reset_password_page') }}">
                <button type="button" name="login">Reset Password</button>
            </a>
        </div>

        <div class="button-frame">
            <a href="{{ url_for('login') }}">Back</a>
        </div>

    </form>

   

</body>
</html>
