<!DOCTYPE html>
<html>
<head>
    <title>ForgotPasswordOTP_page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static_css/main_page.css') }}">
</head>

<body>
    <form method="POST">
        <h1>Enter OTP</h1>
        <br><br>
        <div class="otp-frame">
            <input type="text" maxlength="1" class="otp-input" />
            <input type="text" maxlength="1" class="otp-input" />
            <input type="text" maxlength="1" class="otp-input" />
            <input type="text" maxlength="1" class="otp-input" />
        </div>
        <br>

        <div class="button-frame">
            <a href="{{ url_for('reset_password_page') }}">
                <button type="button" name="login">Send Verification</button>
            </a>
        </div>

        <div class="button-frame">
            <a href="{{ url_for('login') }}">Back to Login</a>
        </div>

    </form>
</body>
</html>
