<!DOCTYPE html>
<html>
<head>
    <title>ForgotPassword_page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static_css/main_page.css') }}">
</head>

<body>
    <form method="POST">
        <div class="heading"></div>
        <br>
        <h1>Forgot Password</h1>
        <h4><span class="span">Please input your email address to proceed with resetting your password.</span></h4>
        <br>
        <div class="form-container">
            <div class="form-middle">
                <label class="text-position">Email Address</label>
                <input type="email" name="email" value="{{ forgot_email_text }}">
                <br>

                <div class="button-frame">
                    <button type="submit" name="forgot">Reset Password</button>
                    <br><br>
                    <a href="{{ url_for('login') }}">Back</a>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
