<!DOCTYPE html>
<html>
<head>
    <title>Login_Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static_css/main_page.css') }}">
</head>

<body>
    <form method="POST">
        <div class="heading"></div>
        <br>
        <h1>Login Here</h1><br>

        {% if error_message %}
        <div class="alert">
            <strong>Error:</strong> {{ error_message }}
        </div>
        {% endif %}

        <div class="form-container">
            <div class="form-middle">
                <label class="text-position">Username</label>
                <input type="text" name="textbox" value="{{ login_text }}"><br><br>
        
                <label class="text-position">Password</label>
                <input type="password" name="password" value="{{ password_text }}">
                
                <div class="button-frame">
                    <button type="submit" name="login">Login</button>
                    <br><br>
                    <a href="{{ url_for('register_page') }}">Register</a>
                    <br><br>
                    <a href="{{ url_for('forgot_password_page') }}">Forgot Password</a>
                </div>
            </div>
        </div>

    
    </form>
    
</body>
</html>
