<!DOCTYPE html>
<html>
<head>
    <title>Register_Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static_css/main_page.css') }}">
</head>

<body>
    <form method="POST">
        <div class="heading"></div>
        <br>
        <h1>Register as New User</h1>
        <br>
        <div class="form-container">
            <div class="form-left">
                <lable text="Username1">Username</lable><br>
                <input type="text" name="username" placeholder="Full Name as IC" value="{{ username_text }}">
                <input type="text" name="userid" placeholder="Staff ID" value="{{ userid_text }}">
                <select name="department" placeholder="Department" value="{{ department_text }}">
                    <option value="" disabled selected>Select Department</option>
                    <option value="SOC">SCHOOL OF COMPUTING(SOC)</option>
                    <option value="SOE">SCHOOL OF ENGINEERING(SOE)</option>
                    <option value="CEPS">CEPS</option>
                    <option value="CADP">CADP</option>
                    <option value="SOBIZ">SOBIZ</option>
                    <option value="MPU">MPU</option>
                    <option value="CAE">CAE</option>
                    <option value="RD">RD</option>
                    <option value="SOHOS">SOHOS</option>
                </select>
                <input type="text" name="email" placeholder="Email Address" value="{{ email_text }}" pattern="[a-zA-Z0-9._%+-]+@newinti\.edu\.my$">
            </div>
    
            <div class="form-right">
                <input type="tel" name="contact" placeholder="Contact Number" value="{{ contact_text }}" pattern="^01\d{8,9}$">
                <input type="password" name="password1" placeholder="Password" value="{{ password1_text }}">
                <input type="password" name="password2" placeholder="Confirm Password" value="{{ password2_text }}">
            </div>
        </div>

        <div class="button-frame">
            <button type="submit" name="register">Submit</button>
            <br><br>
            <a href="{{ url_for('login') }}">Back to Login</a>
        </div>

    </form>
</body>
</html>
