<!DOCTYPE html>
<html>
<head>
    <title>Register_Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static_css/main_page.css') }}">
</head>

<body>
    <div class="heading"></div>

    <form method="POST" width="100vh">
        <h1>Register as New User</h1>
        <div class="form-container">
            <div class="form-left">
                <input type="text" name="username" placeholder="Full Name as IC" value="{{ username_text }}">
                <br>
                <input type="text" name="userid" placeholder="Staff ID" value="{{ userid_text }}">
                <br>
                <input type="text" name="department" placeholder="Department" value="{{ department_text }}">
                <br>
                <input type="email" name="email" placeholder="Email Address" value="{{ email_text }}">
            </div>
    
            <div class="form-right">
                <input type="tel" name="contact" placeholder="Contact Number" value="{{ contact_text }}">
                <br>
                <input type="password" name="password1" placeholder="Password" value="{{ password1_text }}">
                <br>
                <input type="password" name="password2" placeholder="Confirm Password" value="{{ password2_text }}">
            </div>
        </div>

        <div class="button-frame">
            <a href="{{ url_for('login') }}">
                <button type="button" name="login">Submit</button>
            </a>
        </div>

        <div class="button-frame">
            <a href="{{ url_for('login') }}">Back to Login</a>
        </div>

    </form>
</body>
</html>
