<!DOCTYPE html>
<html>
<head>
    <title>Register_Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}">
</head>

<body>
    <form method="POST">
        <h1>Register as New User</h1>
        <br><br>
        <input type="text" name="textbox" placeholder="Username" size="12" value="{{ login_text }}">
        <br>
        <input type="password" name="password" placeholder="Password" value="{{ password_text }}">
        <br>

        <div style="text-align: center; margin-top: 10px;">
            <a href="{{ url_for('login') }}">
                <button type="button" name="login">Submit</button>
            </a>
        </div>

        <div style="text-align: center; margin: 10px 0;">
            <a href="{{ url_for('login') }}">Back to Login</a>
        </div>

    </form>
</body>
</html>
