<!DOCTYPE html>
<html>
<head>
    <title>ResetPassword_page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static_css/main_page.css') }}">
</head>

<body>
    <div class="heading"></div>

    <form method="POST">
        <h1>Reset Your Password</h1>
        <h4>Make sure both of them are similar <br>
            Password length must be between 8-20 <br>
            Password must include special character <br>
        </h4>

        <input type="password" name="password1" placeholder="Password" value="{{ password_text_1 }}">
        <input type="password" name="password2" placeholder="Confirm your Password" value="{{ password_text_2 }}">

        <div class="button-frame">
            <a href="{{ url_for('login') }}">
                <button type="button" name="login">Send Verification</button>
            </a>
        </div>

        <div class="button-frame">
            <a href="{{ url_for('forgot_password_OTP_page') }}">Back</a>
        </div>

    </form>
</body>
</html>
