
<head>
    <title>Lecturer Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_part.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <form method="POST">
        <!-- Showing any of alert message -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                    {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="heading"></div>
        <br>
        <h1>Login as Lecturer</h1>
        <br>
        
        <div class="form-container">
            <!-- Frame for Email Address container -->
            <div class="input-container">
                <label>Email Address</label>
                <input type="email" name="textbox" value="{{ login_text }}">
            </div>
            <br>
        
            <!-- Frame for Enter Password container -->
            <div class="password-container">
                <label>Password</label>
                <input type="password" name="password" value="{{ password_text }}">
                <button type="button" class="toggle-password-btn">
                    <i class="fas fa-eye"></i>
                </button>
            </div>
            
            <!-- Show any message of doesn't match the require of input -->
            <div>
                {% if error_message and request.method == 'POST' %}
                <div class="alert">
                    <strong>Error:</strong> {{ error_message }}
                </div>
                {% endif %}
            </div>
            
            <!-- Javascript control the password toggle -->
            <script src="{{ url_for('static', filename='js/function.js') }}"></script>
            
            <!-- Button frame with standard-->
            <div class="button-frame">
                <button type="submit" name="login">Login</button>
                <br><br>
                <a href="{{ url_for('lecturer_register') }}">Register</a>
                <br><br>
                <a href="{{ url_for('lecturer_forgotPassword') }}">Forgot Password?</a>
            </div>
        </div>
    </form>
</body>
</html>
