<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lecturer/lecturerHome.css') }}">
    <!-- Shared header/navigation -->
    <div class= "header-container">
        <div class="heading"></div>
        <div class="user-info">
            <div class="user-details">
                {{lecturer_name}} <br>
                {{lecturer_id}} <br>
                {{lecturer_department}} <br>
                {{lecturer_level}}
            </div>
            <a href="{{ url_for('lecturer_logout')}}" style="text-decoration: none;" class="logout-btn" type="button">Logout</a>
        </div>
    </div>
</head>
<body>
    <br>
    <br>
    <div class="menu-grid">
    <!-- Main tab navigation -->
        <div class="tab-nav">
            <a href="{{ url_for('lecturer_homepage')}}" 
               class="tab-link {% if active_tab == 'lecturer_hometab' %}active{% endif %}" 
               data-tab="home">Home</a>

            <a href="{{ url_for('lecturer_timetabls')}}" 
               class="tab-link {% if active_tab == 'lecturer_timetabletab' %}active{% endif %}" 
               data-tab="upload">Timetable</a>

            <a href="{{ url_for('lecturer_invigilationTimetable')}}" 
               class="tab-link {% if active_tab == 'lecturer_invigilationTimetabletab' %}active{% endif %}" 
               data-tab="autoGenerate">Invigilation Timetable</a>

            <a href="{{ url_for('lecturer_profile')}}" 
               class="tab-link {% if active_tab == 'lecturer_profiletab' %}active{% endif %}" 
               data-tab="manage">Profile</a>
        </div>
        <br>
        <!-- Content block for child templates -->
        {% block content %}{% endblock %}

        <!-- Shared JavaScript -->
        <script src="{{ url_for('static', filename='js/function.js') }}"></script>
    </div>
</body>
</html>
