<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lecturer Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/frontPart.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <form method="POST">
        <div class="heading"></div>
        <br>
        <h1>Register as New Lecturer</h1>
        <br>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div class="form-left">
                <label class="text-position">Full Name as per IC</label>
                <input type="text" name="username" value="{{ lecturerName_text }}"><br>
                
                <label class="text-position">Staff ID</label>
                <input type="text" name="userid" value="{{ lecturerId_text }}"><br>

                <label class="text-position">Email Address</label>
                <input type="text" name="email" value="{{ lecturerEmail_text }}"><br>

                <label class="text-position">Department</label>
                <select name="department" value="{{ lecturerDepartment_text }}">
                    <option value="" disabled selected>Select Department</option>
                    <option value="CADP - CENTRE OF AUSTRALIAN DEGREE PROGRAM">(CADP) CENTRE OF AUSTRALIAN DEGREE PROGRAM</option>
                    <option value="CAE - CENTRE OF AMERICAN STUDENT">(CAE) CENTRE OF AMERICAN STUDENT</option>
                    <option value="CEPS - CENTRE OF EXCELLENT FOR PRE-UNIVERSITY STUDIES">(CEPS) CENTRE OF EXCELLENT FOR PRE-UNIVERSITY STUDIES</option>
                    <option value="LCMPU - LANGUAGE CENTRE">(LCMPU) LANGUAGE CENTRE</option>
                    <option value="SOBIZ - SCHOOL OF BUSINESS">(SOBIZ) SCHOOL OF BUSINESS</option>
                    <option value="SOC - SCHOOL OF COMPUTING">(SOC) SCHOOL OF COMPUTING</option>
                    <option value="SOE - SCHOOL OF ENGINEERING">(SOE) SCHOOL OF ENGINEERING</option>
                    <option value="SOHOS - SCHOOL OF HOSPITALITY AND CULINARY ARTS">(SOHOS) SCHOOL OF HOSPITALITY AND CULINARY ARTS</option>
                </select>
            </div>
    
            <div class="form-right">
                <label class="text-position">Contact Number</label>
                <input type="tel" name="contact" value="{{ lecturerContact_text }}"><br>  

                <div class="password-container">
                    <label class="text-position">Password</label>
                    <input type="password" name="password1" value="{{ lecturerPassword1_text }}">
                    <button type="button" class="toggle-password-btn">
                        <i class="fas fa-eye"></i>
                    </button>
                </div><br>
    
                <div class="password-container">
                    <label class="text-position"> Confirm Password</label>
                    <input type="password" name="password2" value="{{ lecturerPassword2_text }}">
                    <button type="button" class="toggle-password-btn">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>

                <!-- Javascript control the password toggle -->
                <script src="{{ url_for('static', filename='js/function.js') }}"></script>
            </div>
        </div>

        <!-- Show any message of doesn't match the require of input --> 
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <strong>{{ category.capitalize() }}:</strong> {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Button frame with standard-->
        <div class="button-frame">
            <button type="submit" name="register">Submit</button>
            <br><br>
            <a href="{{ url_for('lecturer_login') }}">Back to Login</a>
        </div>

    </form>
</body>
</html>