<!-- upload.html -->
{% extends "lecturerPart/lecturerBase.html" %}
{% block title %}Lecturer Timetable{% endblock %}
{% block content %}
<div class="menu-section">
    <h2>Timetable</h2>

    <div class="user-table-container">
        <table class="user-data-table">
            <thead>
                <tr>
                    <th>Date / Time</th>
                    <th>08:00 AM</th>
                    <th>09:00 AM</th>
                    <th>10:00 AM</th>
                    <th>11:00 AM</th>
                    <th>12:00 PM</th>
                    <th>13:00 PM</th>
                    <th>14:00 PM</th>
                    <th>15:00 PM</th>
                    <th>16:00 PM</th>
                    <th>17:00 PM</th>
                    <th>18:00 PM</th>
                </tr>
            </thead>
            <tbody>
                {% for row in user_data %}
                <tr>
                    <td>{{ loop.index }}</td> <!-- Display index starting from 1 -->
                    <td>{{ row.userId }}</td>
                    <td>{{ row.userName }}</td>
                    <td>{{ row.userDepartment }}</td>

                    <!-- Role Name based on userLevel -->
                    <td>
                        {% if row.userLevel == 1 %}
                            Lecturer
                        {% elif row.userLevel == 2 %}
                            Dean
                        {% elif row.userLevel == 3 %}
                            Admin
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>

                    <td>{{ row.userEmail }}</td>
                    <td>{{ row.userContact }}</td>

                    <!-- User status: Activated / Deactivated -->
                    <td>
                        {% if row.userStatus|int == 1 %}
                            Activated
                        {% else %}
                            Deactivated
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="{{ url_for('static', filename='js/function.js') }}"></script>


{% endblock %}
