<!-- upload.html -->
{% extends "mainPart/base.html" %}
{% block title %}Upload File{% endblock %}
{% block content %}
    <div class="menu-grid">
        <!-- Row 1 First Fesatures to upload merge schedule files--> 
        <div class="menu-section">
            <h2>Generate Exam Schedule</h2>
            <input type="file" id="lecturerList" name="lecturer_file" accept=".xlsx,.xls" required>
            <li class="submenu">
                <strong>  Functionality:</strong>
                <ul>
                    <li>Automatically assign examiners based on availability</li>
                    <li>Review and manage generated exam timetables</li>
                    <li>Distribute schedules via email</li>
                    <li>Download schedule in PDF format</li>
                </ul>
            </li>
        </div>
    </div>
{% endblock %}

<!--

-->