<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_part.css') }}">
</head>
<body>
    <form method="POST">
        <div class= "header-container">
            <div class="heading"></div>
            <div class="user-info">
                <div class="user-details">
                    {{user_name}} <br>
                    {{user_id}} <br>
                    {{user_department}}
                </div>
                <!-- <button class="logout-btn" type="button">Logout</button> -->
                <a href="{{ url_for('logout')}}" style="text-decoration: none;" class="logout-btn" type="button">Logout</a>
                
            </div>
        </div>
        <br>
        <br>

        <!-- One div for table switching page -->

        <div class="menu-container">
            <div class="menu-grid">
                <!-- Row 1 First Fesatures to upload merge schedule files--> 
                <div class="menu-section">
                    <h2>Input Exam Details</h2>
                    <input type="file" id="lecturerList" name="lecturer_file" accept=".xlsx,.xls" required>
                    <li class="submenu">
                        <strong>  Purpose:</strong>
                        <ul>
                            <li>Upload merged lecturer schedule files</li>
                            <li>Access and review combined lecturer timetables</li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>  



        
    </div>

</body>
</html>