<!-- upload.html -->
{% extends "mainPart/base.html" %}
{% block title %}Upload File{% endblock %}
{% block content %}
    <div class="menu-grid">
        <!-- Row 1 First Fesatures to upload merge schedule files--> 
        <div class="menu-section">
            <h2>Upload File</h2>
            <div class="input-frame">
                <label>Upload Masterfile</label>
                <input type="file" id="lecturerList" name="lecturer_file" accept=".xlsx,.xls" required>
                <button type="submit">Upload and Process</button>
            </div>

            <!--
            <li class="submenu">
                <strong>  Purpose:</strong>
                <ul>
                    <li>Upload merged lecturer schedule files</li>
                    <li>Access and review combined lecturer timetables</li>
                </ul>
            </li>
            -->
        </div>
    </div>
{% endblock %}