{% extends "adminPart/adminBase.html" %}
{% block title %}Admin ManageDepartment{% endblock %}
{% block content %}

<div class="menu-section">
    <h2>Manage Department</h2>
    <form method="POST">
        <h3>Insert Below Data to Add New Department</h3>
        <label>Now able to add a new department, does it need a upload function?/tValidate that department code and name are not duplicate</label><br>
        <div class="profile-frame">
            <div class="form-middle">
                <table class="enter-data-table">
                    <tr style="text-align: center;">
                        <th>Field</th>
                        <th>Input</th>
                    </tr>
                    <tr>
                        <td>Department Code</td>
                        <td><input type="text" name="departmentCode" value="{{ departmentCode_text }}"></td>
                    </tr>
                    <tr>
                        <td>Department Name</td>
                        <td><input type="text" name="departmentName" value="{{ departmentName_text }}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <br>

        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <strong>{{ category.capitalize() }}:</strong> {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>
        <div class="button-wrapper">
                <button type="submit">Upload/Add New Department</button>
        </div>
    </form>
    <br>

    <h3>List of Department</h3>
    <div class="user-table-container">
        <table class="user-data-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Department Code</th>
                    <th>Department Name</th>
                </tr>
            </thead>
            <tbody>
                {% for row in department_data %}
                <tr>
                    <td>{{ loop.index }}</td> <!-- Display index starting from 1 -->
                    <td>{{ row.departmentCode }}</td>
                    <td>{{ row.departmentName }}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
