<!-- upload.html -->
{% extends "adminPart/adminBase.html" %}
{% block title %}Admin ManageLecturer{% endblock %}
{% block content %}
<div class="menu-section">
    <h2>Manage Lecturer</h2>
    <form id="uploadLecturerForm" action="{{ url_for('admin_manageLecturer') }}" method="POST" enctype="multipart/form-data">
        <h3>Choose Either 'Upload' or 'Manual' to Insert New Lecturer</h3>
        <label>Fix the Department and Role dropdowns to standardize field layout</label><br>
        <label>With the validation of id, email, and contact must be the unique</label>
        <div class="profile-frame">
            <div class="form-left">
                <h4 style="text-align: center;">File Upload Section (Check need remove or not)</h4>
                <label for="lecturer_list">
                    <div class="upload-container" id="lecturerUploadContainer">
                        <div class="upload-text">
                            Upload a file with an empty first row. Data should start from columns A to F,<br> 
                            labeled as: 'Id', 'Name', 'Department', 'Role', 'Email', and 'Contact'<br><br><br>
                            Click to upload or drag and drop with below file format
                        </div>
                        <div class="file-types">XLSX, XLS, or XLSM</div><br>
                        <!-- Selected file display -->
                        <div id="lecturerSelectedFileName" class="file-name-display"></div>
                    </div>
                </label>
                <input type="file" id="lecturer_list" name="lecturer_file" accept=".xlsx,.xls,.xlsm" style="display: none;">
            </div>

            <div class="form-right" style="width: 30%;">
                <h4 style="text-align: center;">Manual Data Entry Section (Check need remove or not)</h4>
                <table class="enter-data-table">
                    <tr style="text-align: center;">
                        <th>Field</th>
                        <th>Input</th>
                    </tr>
                    <tr>
                        <td>Staff ID</td>
                        <td><input type="text" name="userid" value="{{ id_text }}"><br></td>
                    </tr>
                    <tr>
                        <td>Staff Name</td>
                        <td><input type="text" name="username" value="{{ name_text }}"></td>
                    </tr>
                    <tr>
                        <td>Staff Email Address</td>
                        <td><input type="text" name="email" value="{{ email_text }}"></td>
                    </tr>
                    <tr>
                        <td>Staff Contact Number</td>
                        <td><input type="tel" name="contact" value="{{ contact_text }}"></td>
                    </tr>
                    <tr>
                        <td>Staff Gender</td>
                        <td>
                            <select value="{{ gender_text }}">
                                <option value="" disabled selected>Select Gender</option>
                                <option value="MALE">MALE</option>
                                <option value="FEMALE">FEMALE</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Staff Role</td>
                        <td>
                            <select name="role" id="roleSelect" onchange="updateDepartmentLabel()" value="{{ role_text }}">
                                <option value="" disabled selected>Select Role</option>
                                <option value="LECTURER">LECTURER</option>
                                <option value="DEAN">DEAN</option>
                                <option value="HOP">(HOP) HEAD OF PROGRAM</option>
                                <option value="ADMIN">ADMIN</option>
                            </select>
                        </td>
                    </tr>
                    
                    <tr>
                        <td><label id="departmentLabel">Department</label></td>
                        <td>
                            <select name="department">
                                <option value="" disabled selected>Select Department</option>
                                {% for dept in department_data %}
                                    <option value="{{ dept.departmentCode }} - {{ dept.departmentName }}">
                                        ({{ dept.departmentCode }}) {{ dept.departmentName }}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br>

        <!-- Result feedback -->
        <div id="courseUploadResult" class="result-message"></div>
        <div id="courseUploadErrors" class="error-message"></div>


        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <strong>{{ category.capitalize() }}:</strong> {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>

        <div class="button-wrapper">
                <button type="submit">Upload/Add New Lecturer</button>
        </div>
    </form>






    <br><br>
    <h3>Table Record</h3>
    <!--<label>
        To Do: <br>
        1. Allow edit based on the Id <br>
        2. Deactivated will send an email to the upload email address for activation link <br>
        Question: <br>
        1. For the Department, what looks inside Excel, does I need to set if SOE to SOE - School of Engineering <br>
        2. For the Contact, because of the Excel can't start with 0, so does I need to add in 0 
    </label>-->

    <div class="user-table-container">
        <table class="user-data-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role Based</th>
                    <th>Department</th>
                    <th>Contact</th>
                    <th>Status</th> <!-- 
                    If upload only -> no register, 
                    if lecturer register self ->register, 
                    if register data no similar with register -> wrong data-->
                </tr>
            </thead>
            <tbody>
                {% for row in user_data %}
                <tr>
                    <td>{{ loop.index }}</td> <!-- Display index starting from 1 -->
                    <td>{{ row.userId }}</td>
                    <td>{{ row.userName }}</td>
                    <td>{{ row.userEmail }}</td>
                    <!-- Role Name based on userLevel -->
                    <td>
                        {% if row.userLevel == 1 %}
                            Lecturer
                        {% elif row.userLevel == 2 %}
                            Hop
                        {% elif row.userLevel == 3 %}
                            Dean
                        {% elif row.userLevel == 4 %}
                            Admin
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>
                    <td>{{ row.userDepartment }}</td>
                    <td>{{ row.userContact }}</td>
                    <!-- User status: Activated / Deactivated -->
                    <td>
                        {% if row.userStatus|int == 1 %}
                            Activated
                        {% else %}
                            Deactivated
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
