<!-- upload.html -->
{% extends "adminPart/adminBase.html" %}
{% block title %}Admin Automation{% endblock %}
{% block content %}


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        <strong>{{ category.capitalize() }}:</strong> {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% endwith %}


    <!-- Row 1 First Fesatures to upload merge schedule files--> 
    <div class="menu-section">
        <h2>Generate Exam Schedule</h2>
        <li class="submenu">
            <strong>  Functionality:</strong>
            <ul>
                <li>Automatically assign examiners based on availability</li>
                <li>Review and manage generated exam timetables</li>
                <li>Distribute schedules via email</li>
                <li>Download schedule in PDF format</li>
            </ul>
        </li>
    </div>

{% endblock %}

<!--

-->