<!-- upload.html -->
{% extends "adminPart/adminBase.html" %}
{% block title %}UploadTimetable{% endblock %}
{% block content %}


    <div class="menu-section">
        <div class="main-frame">
            <h2>Upload Masterfile</h2>
            <div class="form-frame">
                <form id="uploadLecturerForm" enctype="multipart/form-data">
                    <div class="input-frame">
                        <input type="file" id="lecturer_list" name="lecturer_file" accept=".xlsx,.xls,.xlsm" required>
                    </div>
                    <div class="button-wrapper">
                        <button type="submit">Upload</button>
                    </div>
                    <div id="lecturerUploadResult" style="margin-top: 20px;"></div>
                </form>
            </div>
        </div>

        <h2>Table Record</h2>
        <div class="user-table-container">
            <table class="user-data-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ID</th>
                        <th>Department</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{user_name}}</td>
                        <td>{{user_id}}</td>
                        <td>{{user_department}}</td>
                        <td>{{user_email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<script src="{{ url_for('static', filename='js/function.js') }}"></script>


{% endblock %}
