{% extends "adminPart/adminBase.html" %}
{% block title %}Admin ManageDepartment{% endblock %}
{% block content %}

<div class="menu-section">
    <h2>Manage Department</h2>
    <!-- Top Centered Tabs -->
    <div class="tab-container">
        <div class="tab-nav2">
            <a href="#" class="tab-link" onclick="showSection('manualSection', event)">
                <i class="fas fa-edit"></i>
                <span>Manually Insert</span>
            </a>
        </div>
    </div>

    <!-- Manual Form -->
    <form id="manualForm" action="{{ url_for('admin_manageDepartment') }}" method="POST">
        <div id="manualSection" class="function-frame">
            <h4 style="text-align: center;">Manual Data Entry Section</h4>
            <div class="profile-frame">
                <div style="display:flex; justify-content: space-evenly;">
                    <label>Department Code</label>
                    <input type="text" name="departmentCode" value="{{ departmentCode_text }}">

                    <label>Department Name</label>
                    <input type="text" name="departmentName" value="{{ departmentName_text }}">
                </div>
            </div>
                 
            <br>
            {% if courseUploadResult %}
                <div class="result-message">{{ courseUploadResult }}</div>
            {% elif courseUploadErrors %}
                <div class="error-message">{{ courseUploadErrors }}</div>
            {% elif get_flashed_messages(with_categories=true) %}
                {% for category, message in get_flashed_messages(with_categories=true) %}
                    <div class="alert alert-{{ category }}">
                        <strong>{{ category.capitalize() }}:</strong> {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <br>

            <!-- Upload Form Submit -->
            <div class="button-wrapper">
                <button type="submit">Add New Department</button>
            </div>
        </div>
    </form>

    <h3>List of Department</h3>
    <div class="user-table-container">
        <table class="user-data-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Department Code</th>
                    <th>Department Name</th>
                </tr>
            </thead>
            <tbody>
                {% for row in department_data %}
                <tr>
                    <td>{{ loop.index }}</td> <!-- Display index starting from 1 -->
                    <td>{{ row.departmentCode }}</td>
                    <td>{{ row.departmentName }}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
