
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin ResetPassword</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/frontPart.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <form method="POST">
        <div class="heading"></div>
        <br>
        <h1>Reset Your Password</h1>
        <h4> <span class="span">Make sure both of them are similar <br>
            Password length must be between 8-20 <br>
            Password must include special character</span>
        </h4><br>

        <div class="form-container">
            <div class="password-container">
                <label class="text-position">Password</label>
                <input type="password" name="password1" value="{{ password_text_1 }}">
                <button type="button" class="toggle-password-btn">
                    <i class="fas fa-eye"></i>
                </button>
            </div><br>

            <div class="password-container">
                <label class="text-position"> Confirm Password</label>
                <input type="password" name="password2" value="{{ password_text_2 }}">
                <button type="button" class="toggle-password-btn">
                    <i class="fas fa-eye"></i>
                </button>
            </div>
        
            <!-- Javascript control the password toggle -->
            <script src="{{ url_for('static', filename='js/function.js') }}"></script>

            <!-- Show any message of doesn't match the require of input -->
            {% if error_message and request.method == 'POST' %}
            <div class="alert">
                <strong>Error:</strong> {{ error_message }}
            </div>
            {% endif %}

            <!-- Button frame with standard-->
            <div class="button-frame">
                <button type="submit" name="login">Confirm</button>
            </div>
            
        </div>
    </form>
</body>
</html>