<!-- upload.html -->
{% extends "adminPart/adminBase.html" %}
{% block title %}Admin Automation{% endblock %}
{% block content %}


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        <strong>{{ category.capitalize() }}:</strong> {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% endwith %}


<!-- Row 1 First Fesatures to upload merge schedule files--> 
<div class="menu-section">
    <h2>Generate Exam Schedule</h2> 
    <label>Check this part, whether each admin able to select for all or just under self</label>    
    <form method="POST">  
        <h3>Insert the Ratio For Each Department</h3><br>
        <div style="width: 80%; display: flex; justify-content: space-between ;margin: auto; gap: 5%;">
            <!-- Left Table -->
            <div>
                <table> 
                    <thead> 
                        <tr>
                            <th>Department</th>
                            <th>Ratio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dept in department_data[:department_data|length//2] %}
                        <tr>
                            <td>{{ dept.departmentCode }} - {{ dept.departmentName }}</td>
                            <td>
                                <input type="number" name="ratio" value="{{ ratio_text }}">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Right Table -->
            <div>
                <table>
                    <thead> 
                        <tr>
                            <th>Department</th>
                            <th>Ratio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dept in department_data[department_data|length//2:] %}
                        <tr>
                            <td>{{ dept.departmentCode }} - {{ dept.departmentName }}</td>
                            <td>
                                <input type="number" name="ratio" value="{{ ratio_text }}">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <strong>{{ category.capitalize() }}:</strong> {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>
        <div class="button-wrapper">
                <button type="submit">Submit</button>
        </div>
    </form>
    <br><br>

    <h3>List of All Exam Sessions Details</h3>
    <div class="user-table-container">
        <table class="user-data-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Exam Date</th>
                    <th>Exam Day</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Program Code</th>
                    <th>Course/Section</th>
                    <th>Lecturer</th>
                    <th>No. of Students</th>
                    <th>Room</th>
                    <th>Invigilator 1</th>
                    <th>Invigilator 2</th>
                    <th>Backup Invigilator</th>
                </tr>
            </thead>
            <tbody>
                {% for row in exam_data %}
                <tr>
                    <td>{{ loop.index }}</td> <!-- Display index starting from 1 -->
                    <!-- <td>{{ row.examID  }}</td> -->
                    <td>{{ row.examDate }}</td>
                    <td>{{ row.examDay }}</td>
                    <td>{{ row.examStartTime }}</td>
                    <td>{{ row.examEndTime }}</td>
                    <td>{{ row.examProgramCode }}</td>
                    <td>{{ row.examCourseSectionCode }}</td>
                    <td>{{ row.examLecturer }}</td>
                    <td>{{ row.examTotalStudent }}</td>
                    <td>{{ row.examVenue }}</td>
                    <td>{{ row.examLecturer }}</td>
                    <td>{{ row.examLecturer }}</td>
                    <td>{{ row.examLecturer }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

<!--

-->