<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_part.css') }}">
</head>
<body>
    <form method="POST">
        <div class="flex-container">
            <div class="heading"></div>
            <div class="user-info">
                <h4 class="user-details">
                    {{user_name}} <br>
                    {{user_id}} <br>
                    {{user_department}}
                </h4>
                <button class="logout-btn" type="button">Logout</button>
            </div>
        </div>
    </form>
</body>
</html>