<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login_Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='static_css/main_page.css') }}">
</head>

<body>
    <form method="POST">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
            {{ message }}
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="heading"></div>
        <br>
        <h1>Login Here</h1><br>

        <div class="form-container">
            <div class="form-middle">
                <label class="text-position">Email Address</label>
                <input type="email" name="textbox" value="{{ login_text }}"><br><br>
        
                <div>
                    <label class="text-position">Password</label>
                    <input type="password" name="password" value="{{ password_text }}">
                    <button class="toggle-password-btn">
                        <i class="fa fa-eye"></i> <!-- Initial eye icon -->
                    </button>
                </div>
            
                <!-- Link to the external JS file -->
                <script src="togglePassword.js"></script>

                
                {% if error_message and request.method == 'POST' %}
                <div class="alert">
                    <strong>Error:</strong> {{ error_message }}
                </div>
                {% endif %}
                        
                <div class="button-frame">
                    <button type="submit" name="login">Login</button>
                    <br><br>
                    <a href="{{ url_for('register_page') }}">Register</a>
                    <br><br>
                    <a href="{{ url_for('forgot_password_page') }}">Forgot Password</a>
                </div>
            </div>
        </div>
        

    
    </form>
    
</body>
</html>
